$link-color: #111198;

.main-content a em {
    white-space: normal;
}

.main-content dl {
    grid-template: auto / minmax(15%, auto) !important;
}

.btn.btn-download {
    color: #fff;
    background-color: #10108f;
    background-image: linear-gradient(#1414af, #10108f);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);
    &:hover {
        color: #fff;
        background-color: #0f0f86;
        background-image: linear-gradient(#1212a1, #0f0f86);
    }
}

.fs-8 .btn.btn-download {
	font-size: min(32px, calc(100vw - 110px) / 12) !important;
    width: min(100%, 460px);
    text-align: center;
}